<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057388909480-d0ld0c3mo3ufpm3ki7f5l3t2hscuicql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057388909480-d0ld0c3mo3ufpm3ki7f5l3t2hscuicql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1057388909480-j9eetl9bgjd5h91m5u9983b7t202ce45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCml81dncNN4YOoLmG2xtGD8nzRwFLovGM</string>
	<key>GCM_SENDER_ID</key>
	<string>1057388909480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daily.vitals.DailyVitals</string>
	<key>PROJECT_ID</key>
	<string>daily-vitals-67af0</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-vitals-67af0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057388909480:ios:9e3627af1a00559e6cc39d</string>
	<key>DATABASE_URL</key>
	<string>https://daily-vitals-67af0-default-rtdb.firebaseio.com</string>
</dict>
</plist>