<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
	<key>GIDServerClientID</key>
    <string>1057388909480-8p4lrogr189j8cbruirophktregd05ch.apps.googleusercontent.com</string>

    <key>GIDClientID</key>
    <string>1057388909480-d0ld0c3mo3ufpm3ki7f5l3t2hscuicql.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.1057388909480-d0ld0c3mo3ufpm3ki7f5l3t2hscuicql</string>
        </array>
      </dict>
    </array>

    <key>CFBundleIconName</key>
    <string>AppIcon</string>
</dict>
</plist>

